<form
    method = "{{ current.element.getMethod() }}"
    action = "{{ current.element.getAction() }}"
    class  = "{{ current.element.getUserOption("class") }}{% if not current.isValid() %} invalid{% endif %}"
    id     = "{{ current.element.getUserOption("id") }}">
    {% for child in current.element.getElements() %}
        {{ current.renderElement(child) | raw }}
    {% endfor %}
</form>