{% embed "layout/form-group.twig" %}
    {%- block input -%}

        {% set _inputOptions = {
            "aria-labelledby" : current.element.getId() ~ "-label",
            "aria-describedby" : current.element.getId() ~ "-helptext",
        } %}
        <div class="row collapse">
            {%- if current.element.getOption("leftAddon") and current.element.getOption("rightAddon")-%}
                {% set _input_col_size = "small-6 large-8" %}
            {% elseif current.element.getOption("leftAddon") or current.element.getOption("rightAddon") %}
                {% set _input_col_size = "small-9 large-10" %}
            {% else %}
                {% set _input_col_size = "small-12 large-12" %}
            {% endif %}

            {%- if current.element.getOption("leftAddon") -%}
                <div class="small-3 large-2 columns">
                    <span class="prefix">{{ current.element.getOption("leftAddon") | raw }}</span>
                </div>
            {%- endif -%}
                <div class="{{ _input_col_size }} columns">
                    {{ defaultRenderFor(current.element,  { "attributes" : _inputOptions }) }}
                </div>
            {%- if current.element.getOption("rightAddon") -%}
                <div class="small-3 large-2 columns">
                    <span class="postfix">{{ current.element.getOption("rightAddon") | raw }}</span>
                </div>
            {%- endif -%}
        </div>

        {% for message in current.messages() %}
            <small class="error">{{ message }}</small>
        {% endfor %}



        {%- if current.element.getOption("helper") -%}
            <div class="help-text" id="{{ current.element.getId() }}-helptext">{{ current.element.getOption("helper") }}</div>
        {%- endif -%}

    {%- endblock -%}
{% endembed %}
